.sobre{
    display: flex;
}
.sobre__container{
    padding: 3.5em 1.6em;
}
.sobre__titulo{
    color: var(--preto-texto);
    font-size: 4em;
    font-family: var(--fonte-titulo);
    margin-bottom: 0.5em;
}
.sobre__texto{
    color: var(--preto-texto);
    font-size: 1.5em;
    font-family: var(--fonte-texto);
    margin-bottom: 1em;
}