@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --cor-de-fundo: #F6F5AE;
    --preto-texto: #000000;
    --vermelho: #92140C;
    --laranja-box: #BE5A38;
    --branco-texto: #FFFFFF;
    --fonte-titulo: "Wix Madefor Display", sans-serif;
    --fonte-texto: "Wix Madefor Text", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
}

.cabecalho{
    background-color: var(--laranja-box);
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho__menu{
    width: 5em;
    height: 5em;
    cursor: pointer;
}
.cabecalho__logo{
    width: 8em;
    height: 8em;
    margin: 0 31.05em;
    cursor: pointer;
}
.cabecalho__login{
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.principal{
    display: flex;
}
.principal__container{
    padding: 2.5em;
}
.principal__caranguejo{
    height: 48em;
    width: 37em;
}
.container__titulo{
    color: var(--preto-texto);
    font-size: 4em;
    font-family: var(--fonte-titulo);
}
.container__texto{
    color: var(--preto-texto);
    font-size: 1.5em;
    font-family: var(--fonte-texto);
    margin: 2.5em 0;
}
.container__button{
    background-color: var(--cor-de-fundo);
    color: var(--preto-texto);
    text-decoration: none;
    border: var(--preto-texto) 1px solid;
    border-radius: 62em;
    padding: 1em;
    display: block;
    font-family: var(--fonte-texto);
    width: 10.75em;
    text-align: center;
}
.cadastro{
    height: 100vh;
    padding: 4.3em 20.5em;
    justify-content: center;
    align-items: center;
}
.cadastro__container{
    background-color: var(--laranja-box);
    text-align: center;
    padding: 2em 0;
    border: none;
    border-radius: 1em;
}
.cadastro__titulo{
    color: var(--branco-texto);
    font-size: 2.8em;
    font-family: var(--fonte-titulo);
}

.cadastro__label{
    color: var(--branco-texto);
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    margin: 2em 0;
    display: block;
}
.cadastro__input{
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}
.cadastro__button{
    width: 50%;
    padding: 1em;
    margin: 4em 0;
    font-family: var(--fonte-titulo);
    background: var(--vermelho);
    color: var(--branco-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro__descricao{
    color: var(--branco-texto);
    font-family: var(--fonte-texto);
}

.cadastro__descricao a{
    text-decoration: none;
    color: var(--vermelho);
}