@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-de-fundo: #F6F5AE;
    --preto-texto: #000000;
    --vermelho: #92140C;
    --laranja-box: #BE5A38;
    --branco-texto: #FAFAFA;
    --fonte-texto: "Lato"
}
body{
    background-color: var(--cor-de-fundo);
}
.cabecalho{
    background-color: var(--laranja-box);
    height: 4em;
    align-items: center;
}
.link{
    color: var(--branco-texto);
    font-family: var(--fonte-texto);
    font-weight: 900;
    margin: 0 1em;
}
.link:hover{
    color: var(--cor-de-fundo);
}